* {
    color: white;
}

body {
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
}

#inputBox, #listBox, h1 {
    display: flex;
    justify-content: center;
    background-color: rgba(71, 71, 71, 0.486);
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    align-items: center;
}

input, button {
    background-color: rgb(20, 20, 20);
    border: none;
    padding: 10px;
}

input {
    margin-right: 10px;
}

input:focus {
    outline: none;
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255) !important;
}

button:active {
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255) !important;
    background-color: rgb(50, 50, 50);
}

button:hover, input:hover {
    outline-width: 2px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.5);
}

#listBox {
    display: inline-block;
}

.listDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    margin: 10px;
}